# database
DB_TYPE=postgres
DB_URI=postgres://efrei:secret@localhost:5432/db

# misc (required)
FRONTEND_URL=http://localhost:3000

# misc (optional)
PORT=3011
LOG_LEVEL=trace
DEBUG=true
NODE_ENV=development

# JWT secrets
# use `echo $(openssl rand -base64 32) | sha256sum`
JWT_SECRET=jwt_secret

# JWT expiration times (optional)
JWT_MAXIMUM_AGE=1d

# Elasticsearch
ELASTICSEARCH_NODE=http://localhost:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=elastic

# Minio Wrapper
MINIO_WRAPPER_WS_URL=ws://localhost:1206
MINIO_WRAPPER_HTTP_URL=http://localhost:1206
MINIO_WRAPPER_JWT_SECRET=secret
MINIO_WRAPPER_JWT_MAXIMUM_AGE=1d
MINIO_WRAPPER_API_KEY=api_key
