.loading {
	position: relative;
	background: var(--color-interactive);
	color: white;
	border-radius: 5px;
	padding: 2rem;
	width: 20rem;
	text-align: center;
	display: block;
	box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1);

	&:hover {
		background: var(--color-interactive-hover);
	}

	input {
		cursor: pointer;
		position: absolute;
		inset: 0;
		display: block;
		background: transparent;
		opacity: 0.01;
		font-size: 0;
	}
}
.timeline {
	background: var(--color-interactive-dark);
	height: 2rem;
	flex: 1;

	position: relative;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
	touch-action: none;

	.range {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: var(--color-interactive);
		cursor: move;
		touch-action: manipulation;
	}

	.current,
	.handleLeft,
	.handleRight {
		position: absolute;

		&:after {
			display: none;
			position: absolute;
			bottom: -1.75rem;
			content: attr(data-time);
			z-index: 9999;
			color: white;
			font-size: 0.9rem;
			background: rgba(0, 0, 0, 0.3);
			padding: 0.25rem;
			font-size: 0.9rem;
		}

		&.active:after {
			display: block;
		}
	}

	.handleLeft,
	.handleRight {
		position: absolute;
		top: -3px;
		bottom: -3px;
		width: 1rem;
		border: 3px solid white;
		touch-action: manipulation;
	}

	.current {
		border-left: 3px solid white;
		touch-action: manipulation;
		top: 0;
		bottom: 0;
		transform: translate(-1.5px, 0);
		cursor: ew-resize;

		&.active:after {
			transform: translate(-50%, 0);
		}
	}

	.handleLeft {
		left: -3px;
		border-right-style: none;
		cursor: w-resize;

		&:after {
			left: 0;
		}
	}

	.handleRight {
		right: -3px;
		border-left-style: none;
		cursor: e-resize;

		&:after {
			right: 0;
		}
	}
}

.controls {
	display: flex;
	margin-bottom: 0.25rem;
	margin-top: 0.25rem;
}
.step {
	min-width: 0;
	width: 100%;
	max-width: 800px;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 1%;
	align-items: center;

	progress {
		width: 100%;
	}

	pre {
		max-width: 100%;
		max-height: 500px;
		overflow-wrap: break-word;
		word-wrap: break-word;
		white-space: pre-wrap;
		overflow-y: auto;
		overflow-x: hidden;
	}

	video {
		max-width: 100%;
	}
}

.info,
.actionsRender {
	margin-bottom: 0.25rem;
}

.actionsRender {
	display: flex;
	align-items: center;
}
.controlsCrop {
	display: flex;
	align-items: center;
	justify-content: space-between;

	button:last-child {
		margin-right: 0;
	}
}
$handle-width: 3px;
$handle-size: 2rem;
$box-width: 2px;

$handle-offset: -$handle-width - $box-width;

.videoPreview {
	box-shadow: 0 0 20px 5px rgba(167, 199, 37, 0.3);
	overflow: hidden;
	width: 100%;
}

.crop {
	position: relative;
	font-size: 0;

	.box {
		border: $box-width solid white;
		position: absolute;
		inset: 0;
		touch-action: none;

		.dimensions {
			position: absolute;
			top: -2rem;
			right: 0;
			z-index: 9999;
			color: white;
			font-size: 0.9rem;
			background: rgba(0, 0, 0, 0.3);
			padding: 0.25rem;
		}

		svg {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			cursor: move;
			touch-action: manipulation;

			line {
				stroke: white;
				stroke-width: $box-width;
			}
		}
	}

	.handles {
		& > div {
			position: absolute;
			width: $handle-size;
			height: $handle-size;
			border-color: white;
			border-width: $handle-width;
			touch-action: manipulation;
		}
	}

	.handle-nw,
	.handle-n,
	.handle-ne {
		top: $handle-offset;
		border-top-style: solid;
	}

	.handle-nw,
	.handle-w,
	.handle-sw {
		left: $handle-offset;
		border-left-style: solid;
	}

	.handle-ne,
	.handle-e,
	.handle-se {
		right: $handle-offset;
		border-right-style: solid;
	}

	.handle-sw,
	.handle-s,
	.handle-se {
		bottom: $handle-offset;
		border-bottom-style: solid;
	}

	.handle-n,
	.handle-s {
		left: 50%;
		transform: translate(-50%, 0);
	}

	.handle-e,
	.handle-w {
		top: 50%;
		transform: translate(0, -50%);
	}
}

.options {
	margin-bottom: 0.25rem;
}
